
{block content}

<form n:name="articleForm">
	<textarea id="code" n:name="content"></textarea>
	<input type="submit" n:name="send" class="button">
</form>

<p>
cmd+b - bold<br>
cmd+i - italic<br>
<br>
drag & drop image<br>
</p>